/* This is css */
body {
	background:url("../images/background.jpg");
	 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	 font-weight: 300;
}
h1 {
	font-size: 80px;
	text-align: center;
	color:white;
}
h2 {
	color:white;
	text-align:center;
}
h6 {
	color: white;
}
div {
	height: 100px;
}
a:link {
    color: #B2FF99;
}

a:visited {
    color: #FFFF85;
}

a:hover {
    color: #FF704D;
}

a:active {
    color: #FF704D;
}