/* This is css */
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
a:link {
    color: #B2FF99;
}

a:visited {
    color: #FFFF85;
}

a:hover {
    color: #FF704D;
}

a:active {
    color: #FF704D;
}