body {
	/*background-image: url('../pictures/background.JPG'), url('../pictures/background2.JPG');*/
	background-size: 100% auto;
	background-repeat: no-repeat, repeat-y;
}
.header {
	margin: auto;
	font-weight: bold;
	text-align: center;
	width: 50%;
	font-size: 2em;
}
.content {
	border-style: solid;
	border-color: #b3ccff;
	border-radius: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5%;
	width: 50%;
	background-color: rgba(241,241,241,0.75);
}
.main-text {
	font-size: 1.25em;
	text-align: center;
}
.timestamp {
	text-align:right;
	font-size: 0.75em;
	width: 98%;
}
.notice {
	font-size: 1.5em;
	color: #ff9900;
	text-align: center;
}